<h1>Wikis</h1>

<div class="col-md-4">
 <%= link_to "** Create New Wiki  **", new_wiki_path, class: 'btn btn-success' %>
</div>

<div class="row">
 <div class="col-md-8">
  <div class="media">
   <div class="media-body">
  <% @wikis.each do |wiki| %>
    <% if wiki.private == false || wiki.private == nil %>
       <h4 class="media-heading">
         <%= link_to wiki.title, wiki %>
      </h4>
     <% elsif (wiki.private == true && (wiki.user == current_user || current_user.admin?)) %>
       <h4 class="media-heading">
         <%= link_to wiki.title, wiki %>
        <small>
         <% if wiki.private == true %>
           Private!
         <% end %>
        </small>

       </h4>
    </div>
   </div>
  
   <% end %> 
  <% end %>
 </div>

</div>
